################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication
/obj
/bin
/WebApplication.csproj.user
/Properties/PublishProfiles
